{% macro button(content, link, type) %}

{% set class = ""%}

{% if type == "small"%}
    {% set class = "arrow_button_small"%}
{% else %}
    {% set class = "arrow_button"%}
{% endif %}

{% set click_link = "document.location"%}

{% if 'https:/' in link%}
    {% set click_link = "location.href"%}
{% endif%}

<button onclick="{{click_link}} = '{{link}}'" class="{{class}}" >
    <span>{{ content }}</span> 
    
    &nbsp;&nbsp;
    
    {% if type == "small"%}
        <img src="{{ url_for('static', filename='images/arrow.png') }}" class="arrow_image_small"/>
    {% else %}
        <img src="{{ url_for('static', filename='images/arrow.png') }}" class="arrow_image"/>
    {% endif %}
</button>

{% endmacro %}