{% macro each_team_member(more_data) %}

    <div class="center_everything">
        {% set padding = "0px"%}
        {% set width = "100%"%}

        {% if more_data.profile_pic is defined %}

            <img src="{{ url_for( 'static', filename = 'images/' + more_data.profile_pic ) }}" style="width: 200px;"/>
            
            <p class="break">break</p>

            {% set padding = "40px"%}
            {% set width = "80%"%}

        {% endif %}

        <div class="text_div" style="width: {{width}}; padding: {{padding}}">
            {% if more_data.biography is defined%}
            <p class="body_text"> <span class="team_heading">
                {{more_data.name}} </span> <br> <br> {{more_data.role}}</p>
            {% else %}
                <p class="body_text"> <span class="team_heading">
                    {{more_data.name}} </span> <br> {{more_data.role}}</p>
            {% endif %}

            <!-- <p class="break" style="font-size: 7px">break</p> -->
            {% if more_data.biography is defined%}
                <p class="body_text"> <span style="font-weight: 700">Biography:</span> {{more_data.biography}}</p>
            {% endif %}
        </div>
    </div>
{% endmacro %}