{% macro footer() %}

<div class="footer">
   <div class=" center_everything center_everything_margins">

      <div class="image_div image_left">
         <img src="/static/images/file.png" style="margin: 0; padding: 0; width: 150px"/>
      </div>

      <div class="text_div mobile_text">
         <p>Address  |  Copyright  |  Contact</p>
      </div>
      
      <div class="text_div footer_text">
         <p> <span class="footer_heading">Address</span><br>Open Science Chain, SDSC, <br> University of California
            San Diego, <br> 9500 Gilman Drive, La Jolla, <br> CA 92093-0505</p>
      </div>

      <div class="text_div footer_text">
         <p> <span class="footer_heading">© 2024 Open Science Chain. </span><br>
         <span>OSC is supported by the National Science Foundation under award 
                   numbers <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1840218">1840218</a>
                  and <a href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=2114202"> 2114202. </a> </span></p>
      </div>

      <div class="text_div footer_text">
         <p> <span class="footer_heading"> Contact </span><br> 
            For information about OSC, please email info@opensciencechain.org. 
            A list of personnel can be found on the team members page.
            
      </div>
</div>

{% endmacro %}